body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
}

#html5-qrcode-button-camera-stops {

  background-color: brown;
}
/* .html5-qrcode-element {
  display: none;
} */
