body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
}

#html5-qrcode-button-camera-stops {

  background-color: brown;
}
/* .html5-qrcode-element {
  display: none;
} */
@media (max-width: 480px) {
  #app {
    width: 100%; /* Set width to 100% to occupy full width of the screen */
    padding: 10px; 
  }
}